<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div layout:fragment = "content">
    <div class = "container">
        <h4 class = "jumbotron bg-light p-4 rounded-4 my-4 fw-semibold">
            Login
        </h4>
        <div class = "card">
            <div class = "card-header">
                <h5 class = "card-title fw-semibold" >
                    Login
                </h5>
            </div>

            <div class = "card-body">

            </div>
        </div>

    </div>
</div>

</body>
</html>