<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div layout:fragment="content" >
        <div class = "container">
            <div class = "jumbotron bg-light p-4 rounded-3 my-4">
                <p class="lead fw-semibold" >Registration Page</p>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Create An Account</h5>
                </div>

                <div class="card-body">
                    <form th:action="@{/register}" th:object="${registerNewUserForm}" method="post">

                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>